<mat-drawer #sidenav>
  <app-menu (closeSideNav)="closeSideNav(sidenav)"></app-menu>
</mat-drawer>
<mat-drawer-container>

  <mat-drawer-content>
    <mat-toolbar color="primary" class="own-header">
      <div fxHide.gt-xs>
        <button mat-icon-button (click)="openSidenav(sidenav)"><mat-icon color="accent">menu</mat-icon></button>
      </div>
      <h1>Alma</h1>
     
      <div fxFlex fxLayoutAlign="flex-end">
        <button mat-icon-button (click)="navigate('account')"><mat-icon color="accent" >person</mat-icon></button>
        <button mat-icon-button (click)="navigate('cart')" *ngIf="productInCart"><mat-icon color="accent" [matBadge]="productInCart" matBadgeColor="warn">shopping_cart</mat-icon></button>
        <button mat-icon-button (click)="navigate('cart')" *ngIf="!productInCart"><mat-icon color="accent">shopping_cart</mat-icon></button>
        <button mat-icon-button (click)="close()" ><mat-icon color="accent">close</mat-icon></button>
      </div>
    </mat-toolbar>
  </mat-drawer-content>

</mat-drawer-container>
<router-outlet ></router-outlet>